.fieldset--address {
  display: table;
  padding: 20px 0 30px;

  .form-group {
    display: table-row;

    .form-label {
      display: table-cell;
      float: left;
      width: 30%;
      box-sizing: border-box;
    }

    .form-control {
      box-sizing: border-box;
      display: table-cell;
      float: left;
      width: 70%;

      @include media(tablet) {
        width: 50%;
      }

    }

    &.form-group--postcode .form-control {
      width: 25%;
    }

  }

  .autosuggest__suggestions {
    width: 70%;

    @include media(tablet) {
      width: 50%;
    }
  }

  .address__lookup-wrapper {

    .form-group .form-control {
      width: 25%;
    }

    .form-group select.form-control {
      width: 70%;

      @include media(tablet) {
        width: 50%;
      }
    }

    .button {
      @include core-16();
      background-color: $grey-2;
      color: $black;
      margin: 0 0 0 5px;
      width: 42%;

      @include media(tablet) {
        margin: 0 0 0 5px;
        width: 25%;
      }
    }
  }

  .reveal-manual-entry {
    display: block;
    margin-left: 30%;
    margin-bottom: 20px;
  }
}


