{% import "macros/utils.html" as utils %}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Mocha Tests</title>
  <link rel="stylesheet" href="/mocha/mocha.css"/>
  <link rel="stylesheet" href="/stylesheets/fonts.css?0.17.3"/>
  {{ utils.govstrap_styles() }}
</head>
<body>

{% block main %}{% endblock %}


<div id="mocha"></div>

<script src="/mocha/mocha.js"></script>
<script src="/chai/chai.js"></script>
<script src="/sinon/pkg/sinon.js"></script>
<script src="/sinon-chai/lib/sinon-chai.js"></script>
<script>
  mocha.setup('bdd');
  expect = chai.expect;
</script>

<script src="/jquery/dist/jquery.js"></script>
<script src="js/{{ testName }}tests.js"></script>
<script>
  mocha.run();
</script>
</body>
</html>
