{% extends "layouts/govuk_template.html" %}
{% import "macros/search.html" as search %}

{% block header_class %}with-proposition{% endblock %}


{% block proposition_header %}
  {% set searchbarType = "header" %}
  <div class="header-proposition">
    Govstrap
    {{ search.searchbar('query', label="Search companies and contacts", value="", type="header") }}
  </div>
{% endblock %}


{% block head %}
  <link href="{{ asset_path }}stylesheets//application.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

  <main id="content" role="main">
    <div class="phase-banner-alpha">
      <p>
        <strong class="phase-tag">Govstrap</strong>
        <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
      </p>
    </div>

    <div class="container">
      {% block main %}{% endblock %}
    </div>
  </main>
{% endblock %}

{% block body_end %}
  <script src="{{ asset_path }}javascripts/vendor.bundle.js"></script>
  <script src="{{ asset_path }}javascripts/app.bundle.js"></script>
{% endblock %}
